<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604909683192-8a2rnvf3nqkjc9ovcenh0do026dfncu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604909683192-8a2rnvf3nqkjc9ovcenh0do026dfncu0</string>
	<key>API_KEY</key>
	<string>AIzaSyD8QCOYouY1Nek_K2SKri6tSn0CQdVb3KI</string>
	<key>GCM_SENDER_ID</key>
	<string>604909683192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pw.zetsu.zetsu</string>
	<key>PROJECT_ID</key>
	<string>zetsu-4c642</string>
	<key>STORAGE_BUCKET</key>
	<string>zetsu-4c642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:604909683192:ios:b2d9494804b9a61152160d</string>
	<key>DATABASE_URL</key>
	<string>https://zetsu-4c642.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string></string>
</dict>
</plist>
